@import './mixins';
@import './base';

body {
  background-color: whitesmoke;
  font-family: 'lato', sans-serif;
  position: relative;
}

/* --------------- Header --------------- */
.header {
  &__main {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    & a {
      font-family: 'Cinzel', serif;
      font-size: 3rem;
      margin: 0.5rem 0 1rem 0;
      padding: 0.5rem 0;
      text-transform: uppercase;
      color: #2b3236;
      letter-spacing: 5px;
      text-decoration: none;
    }
  }
}

/* --------------- Navigation --------------- */

.navigation {
  margin: 0 auto 2rem auto;
  text-align: center;
  width: 60%;

  @include respond(phone) {
    width: 90%;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & li {
      border-bottom: 1px solid transparent;
      font-size: 1.05rem;
      margin: 0 0.1rem;
      padding-bottom: 0.5rem;
      display: inline-block;
      width: fit-content;
      margin: 0 auto;
      transition: all 0.3s ease-in-out;
      color: #242a2e;
      cursor: pointer;

      &:hover {
        font-size: 1.1rem;
      }
    }
  }
}

/* --------------- main page block --------------- */

.main-page-block {
  &__mens-outwear,
  &__ladies-outwear,
  &__mens-tshirt,
  &__ladies-tshirt {
    background-position: center;
    background-size: cover;
    height: 24rem;
    margin: 4rem 0;
    position: relative;

    &-content {
      left: 50%;
      position: absolute;
      text-align: center;
      top: 72.5%;
      transform: translate(-50%, -50%);
    }

    & p {
      background-color: rgba(82, 82, 82, 0.404);
      border-top: 1px rgb(146, 146, 146) dashed;
      border-bottom: 1px rgb(146, 146, 146) dashed;
      border-radius: 2px;
      color: white;
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 2rem;
      padding: 1rem 3rem;

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }

    & span {
      background-color: #343b40;
      border-radius: 2px;
      color: white;
      padding: 1rem 3rem;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;

      &:hover,
      &active {
        background-color: #4d4d4d;
      }
    }
  }
}

.main-page-block__combined-tshirts {
  display: flex;
  padding-bottom: 1rem;

  @include respond(phone) {
    display: block;
  }

  & p {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
  }
}

.main-page-block__mens-tshirt,
.main-page-block__ladies-tshirt {
  margin-top: 1rem;
  width: 50%;

  @include respond(phone) {
    width: 100%;
  }
}

.main-page-block__mens-outwear {
  background-image: url('../images/mens-wear.jpg');
}

.main-page-block__ladies-outwear {
  background-position: 50% 30%;
  background-image: url('../images/ladies-wear.jpg');
}

.main-page-block__mens-tshirt {
  background-image: url('../images/mens-tshirt.jpg');
}

.main-page-block__ladies-tshirt {
  background-image: url('../images/ladies-tshirt.jpg');
}

/* --------------- Product Blocks  --------------- */

.mens-outwear-block,
.ladies-outwear-block,
.mens-tshirt-block,
.ladies-tshirt-block {
  animation: fadein 0.4s ease-in-out forwards;
  background-color: white;
  margin: 4rem 0 0 0;
  padding-bottom: 2rem;
  text-align: center;

  &__hero {
    background-position: center;
    background-size: cover;
    height: 26rem;
    position: relative;
  }

  &__hero-content {
    left: 50%;
    position: absolute;
    top: 85%;
    text-align: center;
    transform: translate(-50%, -50%);
    & p {
      background-color: rgba(82, 82, 82, 0.404);
      border-top: 1px rgb(146, 146, 146) dashed;
      border-bottom: 1px rgb(146, 146, 146) dashed;
      border-radius: 2px;
      color: white;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      padding: 1rem 3rem;

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }

  &__title {
    padding: 2rem 0 0 0;
    color: #343b40;
  }

  &__quantity {
    color: #343b40;
  }

  &__cards-title {
    color: #343b40;
    font-size: 1.1rem;
    padding: 5px 0;
  }

  &__cards-price,
  &__cards-add2cart {
    background-color: #343b40;
    display: inline-block;
    color: whitesmoke;
    padding: 0.4rem 3rem;
    border-radius: 2px;
    margin-top: 0.5rem;
  }

  &__cards-add2cart {
    padding: 0.4rem 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #343b40;
      background-color: yellowgreen;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem auto 0 auto;
    width: 80%;

    @include respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__cards {
    margin-bottom: 2rem;
  }
}

.mens-outwear-block__hero {
  background-image: url('../images/block-mens-wear.jpg');
}

.ladies-outwear-block__hero {
  background-image: url('../images/block-ladies-wear.jpg');
  background-position: 50% 80%;
}

.mens-tshirt-block__hero {
  background-image: url('../images/block-mens-tshirt.jpg');
  background-position: 50% 70%;
}

.ladies-tshirt-block__hero {
  background-image: url('../images/block-ladies-tshirt.jpg');
  background-position: 50% 65%;
}

.mens-outwear-block,
.ladies-outwear-block,
.mens-tshirt-block,
.ladies-tshirt-block {
  display: none;
}

/* --------------- Footer --------------- */
.footer {
  align-items: center;
  background-color: #e6eef0;
  color: rgb(37, 37, 37);
  display: flex;
  height: 3rem;
  justify-content: space-between;
  padding: 1rem;

  &__credits {
    & a {
      text-decoration: none;
      &:link,
      &:visited {
        color: rgb(37, 37, 37);
      }
      &:hover,
      &:active {
        color: rgb(37, 37, 37);
      }
    }
  }
}

/* --------------- Icon --------------- */

.icon {
  cursor: pointer;
  display: inline-block;
  fill: #424242;
  height: 2.25rem;
  position: absolute;
  right: 1.5rem;
  stroke-width: 0;
  stroke: #424242;
  top: 1rem;
  width: 2.25rem;
}

.icon-menu {
  display: none;
  left: 1.5rem;
  position: absolute;
  top: 1rem;

  @include respond(phone) {
    display: block;
  }
}

.icon-shopping {
  left: 1.5rem;
  position: absolute;
  top: 1rem;
}

#snackbar {
  background-color: #424242;
  border: 1px dashed rgb(196, 196, 196);
  border-radius: 2px;
  color: whitesmoke;
  height: 3.5rem;
  left: 50%;
  position: fixed;
  padding: 1rem 3rem;
  top: 5%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 2;

  &.show {
    animation: fadein 0.7s ease-in-out, fadeout 0.7s ease-in-out;
    visibility: visible;
  }
}

/* --------------- Animations Class  --------------- */

.aniAtribute {
  animation: borderBottom 0.5s ease-in-out forwards;
}

/* --------------- Animations  --------------- */

@keyframes borderBottom {
  from {
    border-bottom: 1px solid transparent;
  }
  to {
    border-bottom: 1px solid #8d9296;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    bottom: 0;
  }
}
