.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-opencart {
  width: 1.533203125em;
}

.icon-shopping-cart {
  width: 0.9287109375em;
}

.icon-shopping-cart1 {
  width: 0.9287109375em;
}
